<div class="container">
    <div class="locales">
        <a href="#home/fr">FR</a> - <a href="#home/en">EN</a>
    </div>
    <div class="hero-unit">
        <h1>{{labels.title}}</h1>
        {{labels.subtitle}}
    </div>

    <h2>{{labels.step1}}</h2>

    <div class="row-fluid">
        <div class="bloc-selection-list offset1 span10"></div>
    </div>

    <div class="row-fluid">
        {{#with labels.form}}
        <div class="offset1 span10 bloc-search form-inline">
            <div class="input-append">
                <input type="text" class="span11" id="input-search" placeholder="{{searchPlaceHolder}}" value=""/>
                <button class="btn" data-mode="meta"><span>{{searchMeta}}</span></button>
                <button class="btn" data-mode="field">{{searchField}}</button>
                <button class="btn" data-mode="id">{{searchId}}</button>
                <button class="btn btn-inverse" data-close>X</button>
            </div>
            <div class="bloc-search-list"></div>
        </div>
        {{/with}}
    </div>
    <h2>{{labels.step2}}</h2>

    <div class="bloc-join"></div>
    <h2>{{labels.step3}}</h2>

    <div class="bloc-result"></div>
    <div class="bloc-bottom"></div>
</div>