{{#if collection}}
    {{#each collection}}
        <div class="row-fluid">
            <button class="btn" data-add="{{this._id}}">
                <i class="icon-plus"></i>
            </button>
            <div class="span11">
                <strong>{{name}}</strong>
                - {{../labels.search.by}} {{user.firstname}} {{user.lastname}}
                <i>- {{../labels.search.created}} {{createdString}}</i> <br/>
                {{desc}}
            </div>
        </div>
    {{/each}}
{{/if}}