{{#if collection}}
{{#each collection}}
    <div class="alert alert-success">
        <button class="btn close" data-remove="{{this._id}}">
            <i class="icon-trash"></i>
        </button>
            <strong>{{name}}</strong>
            - {{../labels.search.by}} {{user.firstname}} {{user.lastname}}
            <i>- {{../labels.search.created}} {{createdString}}</i> <br/>
            {{desc}}<br/>
            {{../labels.selection.fields}} {{fieldsString}}
        </div>
    </div>
</div>
{{/each}}
{{/if}}