{{#if collection}}
{{#each collection}}
<div class="row-fluid">
    <button class="btn btn-large span1 active" data-remove="{{this._id}}">
        <i class="icon-trash"></i>
    </button>
    <div class="span11">
        <strong>{{name}}</strong>
        - {{../labels.search.by}} {{user.firstname}} {{user.lastname}}
        <i>- {{../labels.search.created}} {{createdDate}}</i> <br/>
        {{desc}}<br/>
        {{../labels.selection.fields}} {{fieldsString}}
    </div>
</div>
{{/each}}
{{/if}}